@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

header{
	padding: 1.25em;
	font-size: 1.50em;
	color: black;
}


h1{
	font-size: 1.75em;
	color: #E52B21;
	font-family: 'Poiret One', cursive;
	
}
nav{
	border-bottom: 4px solid white;
	margin-top: -30px;
}

h2{
	color: #888;
	text-align: center;
	margin: auto;

}
body{
	background: url("../images/back.jpg");
	background-size: cover;
	font-family: 'Comfortaa', cursive;
	line-height:1.3;
}
img {
	width: 25%;
}
p,footer{
	color: #555555;
	font-size: 24px;
}

}
.phototitle{
	text-align: center;
	background-color: white;
	color: black;
}
#firstlink{
	margin-left: 40px;
}
main{
	font-size: 24px;
	color: white;

}

a,nav{
	color: grey;
	text-decoration: none;
	font-size: 30px;
}
footer{
	background-color: #E3E2FF;
	padding: 5px;
	text-align: center;
}